<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/file.css">
  <title><%= title%></title>
</head>
<body>
  <h1 class="heading">CSV Vault</h1>
  <input type="text" id="searchInput" placeholder="">
  <div class="fileDisplaySection">
    <table>
      <thead>
        <!-- Column headers will be dynamically added here -->
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
  <script src="/js/file.js"></script>
</body>
</html>
