<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/5abe21094e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css">
  <title><%= title%></title>
</head>
<body>
  <h1 class="heading">CSV Vault</h1>
  <div class="uploadSection">
    <button id="uploadBtn"><i class="fa-solid fa-upload icon"></i>Upload</button>
    <!-- <button id="fileBtn"><i class="fa-regular fa-folder-open icon"></i>Files</button> -->
    <input type="file" id="fileInput" accept=".csv" style="display: none;">
  </div>
  <div class="displaySection">
    <table>
      <thead>
        <tr>
          <th>File Name</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>
